
<header>

	<!-- jQuery -->
	<script th:src="@{/webtemplate/plugins/jquery/jquery.min.js}"></script>
	<!-- jQuery UI 1.11.4 -->
	<script th:src="@{/webtemplate/plugins/jquery-ui/jquery-ui.min.js}"></script>

	<!-- Preloader -->
	<div
		class="preloader flex-column justify-content-center align-items-center">
		<i class="fa fa-spinner fa-pulse fa-5x" aria-hidden="true"></i>
		<!-- 		<img class="animation__shake" -->
		<!-- 			th:src="@{/webtemplate/dist/img/AdminLTELogo.png}" alt="AdminLTELogo" -->
		<!-- 			height="60" width="60"> -->
	</div>

	<!-- Navbar -->
	<nav class="main-header navbar navbar-expand navbar-white navbar-light">
		<!-- Left navbar links -->
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link" data-widget="pushmenu"
				href="#" role="button"><i class="fas fa-bars"></i></a></li>
			<li class="nav-item d-none d-sm-inline-block"><a
				href="/cloud_instance/view" class="nav-link">Home</a></li>
			<!--  <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
      </li> -->
		</ul>

		<!-- Right navbar links -->
		<ul class="navbar-nav ml-auto">
			<!-- Navbar Search -->
			<!-- <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li> -->

			<!-- Messages Dropdown Menu -->
			<!-- <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-comments"></i>
          <span class="badge badge-danger navbar-badge">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="#" class="dropdown-item">
            Message Start
            <div class="media">
              <img th:src="@{/webtemplate/dist/img/user1-128x128.jpg}" alt="User Avatar" class="img-size-50 mr-3 img-circle">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Brad Diesel
                  <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">Call me whenever you can...</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            Message End
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            Message Start
            <div class="media">
              <img th:src="@{/webtemplate/dist/img/user8-128x128.jpg}" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  John Pierce
                  <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">I got your message bro</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            Message End
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            Message Start
            <div class="media">
              <img th:src="@{/webtemplate/dist/img/user3-128x128.jpg}" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Nora Silvester
                  <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">The subject goes here</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            Message End
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
        </div>
      </li> -->
			<!-- Notifications Dropdown Menu -->
			<!-- <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">15 Notificationss</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new instances Created
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 Security group created
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 Load Balancer
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li> -->

			<li class="nav-item dropdown user-menu"><a href="#"
				class="nav-link dropdown-toggle" data-toggle="dropdown"> <img
					src="/webtemplate/dist/img/user2-160x160.jpg"
					class="user-image img-circle elevation-2" alt="User Image">
			</a>
				<ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
					<!-- User image -->
					<li class="user-header bg-primary"><img
						src="/webtemplate/dist/img/user2-160x160.jpg"
						class="img-circle elevation-2" alt="User Image">

						<p>
							<span class="d-none d-md-inline" id="userNameMainIDHere"
								th:text="${#request.userPrincipal.name}"
								style="font-weight: bolder;"></span><br> <span>Role
								: </span><span id="UserRoleMainIDHere"></span>
							<!-- <small>User ID : # 5487</small>  -->
						</p></li>
					<!-- Menu Body -->
					<li class="user-body">
						<div class="row">
							<div class="col-6 text-center"
								sec:authorize="hasRole('ROLE_SUPERADMIN')">
								<a href="/cloud_instance/servers">My Servers</a>
							</div>
							<div class="col-6 text-center">
								<a th:href="@{'/users/resetPassForm/'}">Reset Password</a>
							</div>

						</div> <!-- /.row -->
					</li>
					<!-- Menu Footer-->
					<li class="user-footer"><a href="#"
						class="btn btn-default btn-flat" onclick="showUserProfile()">User
							Profile</a> <a href="#" class="btn btn-default btn-flat float-right"
						th:href="@{/logout}">Sign out</a></li>
<!-- 					<li class="user-footer"> -->
<!-- 						<a href="#" class="btn btn-default btn-flat">Profile</a>  -->
<!-- 						<a href="#" class="btn btn-default btn-flat float-right" -->
<!-- 						th:href="@{/logout}">Sign out</a> -->
<!-- 					</li> -->
				</ul></li>

			<!-- 			<li class="nav-item"><a class="nav-link" -->
			<!-- 				data-widget="fullscreen" href="#" role="button"> <i -->
			<!-- 					class="fas fa-expand-arrows-alt"></i> -->
			<!-- 			</a></li> -->
			<!-- 			<li class="nav-item"><a class="nav-link" -->
			<!-- 				data-widget="control-sidebar" data-slide="true" href="#" -->
			<!-- 				role="button"> <i class="fas fa-th-large"></i> -->
			<!-- 			</a></li> -->
		</ul>
	</nav>
	
	<!-- User Profile Modal -->
<div class="modal fade" id="userProfileModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">User Profile</h5>
                <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center mb-4">
                                    <div class="user-profile-icon" style="width: 80px; height: 80px; background: linear-gradient(135deg, #4361ee, #3f37c9); border-radius: 50%; display: flex; align-items: center; justify-content: center; margin: 0 auto 1rem; font-size: 2rem; color: white;">
                                        <i class="fas fa-user"></i>
                                    </div>
                                    <h4 id="profileUsername" class="mb-1">Username</h4>
                                    <p class="text-muted" id="profileEmail">Email</p>
                                </div>
                                
                                <div class="user-details">
                                    <div class="detail-item mb-3">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <strong><i class="fas fa-id-card mr-2"></i>User ID:</strong>
                                            </div>
                                            <div class="col-sm-8" id="profileUserId">-</div>
                                        </div>
                                    </div>
                                    
                                    <div class="detail-item mb-3">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <strong><i class="fas fa-envelope mr-2"></i>Email:</strong>
                                            </div>
                                            <div class="col-sm-8" id="profileEmailDetail">-</div>
                                        </div>
                                    </div>
                                    
                                    <div class="detail-item mb-3">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <strong><i class="fas fa-mobile-alt mr-2"></i>Mobile:</strong>
                                            </div>
                                            <div class="col-sm-8" id="profileMobile">-</div>
                                        </div>
                                    </div>
                                    
                                    <div class="detail-item mb-3">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <strong><i class="fas fa-user-tag mr-2"></i>Username:</strong>
                                            </div>
                                            <div class="col-sm-8" id="profileUsernameDetail">-</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
	<!-- /.navbar -->

	<script th:inline="javascript">
		// 		alert("inside");
		// 		alert($('#userNameMainIDHere').text());
		// 		alert($('#userNameMainIDHere').val());
		$.ajax({
			type : "POST",
			url : '/cloud_instance/GetUserRole',
			data : {

				"username" : $('#userNameMainIDHere').text()
			},
			success : function(result) {
				// 				alert(result);

				let userRole;

				if (result === 'ROLE_ADMIN') {
					userRole = 'Authorizer';
					// Perform actions specific to super admin
				} else if (result === 'ROLE_SUPERADMIN') {
					userRole = 'Cloud Admin';
					// Perform actions specific to admin
				} else if (result === 'ROLE_USER') {
					userRole = 'Requester';
					// Perform actions specific to regular user
				} else {
					userRole = 'Role NA';
					// Handle unknown role
				}

				$('#UserRoleMainIDHere').text(userRole);

			}

		});
		
		
		// Function to show user profile
		function showUserProfile() {
		    $.ajax({
		        url: '/guac/getUserProfile',
		        method: 'GET',
		        success: function(response) {
		            if (response.success) {
		                const user = response.user;
		                
		                // Update modal content
		                $('#profileUsername').text(user.username || 'N/A');
		                $('#profileEmail').text(user.email || 'N/A');
		                $('#profileUserId').text(user.userId || 'N/A');
		                $('#profileEmailDetail').text(user.email || 'N/A');
		                $('#profileMobile').text(user.mobile || 'N/A');
		                $('#profileUsernameDetail').text(user.username || 'N/A');
		                
		                // Show the modal
		                $('#userProfileModal').modal('show');
		            } else {
		                Swal.fire({
		                    title: 'Error',
		                    text: response.message || 'Failed to load user profile',
		                    icon: 'error'
		                });
		            }
		        },
		        error: function(xhr, status, error) {
		            console.error('Error fetching user profile:', error);
		            Swal.fire({
		                title: 'Error',
		                text: 'Failed to load user profile. Please try again.',
		                icon: 'error'
		            });
		        }
		    });
		}
	</script>


</header>

