<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="template :: headFragment('CMP')"></head>

<body class="hold-transition">

	<div th:if="${resetPasswordMessage != null}"
		class="alert alert-success alert-dismissible fade show text-center message"
		role="alert">
		[[${resetPasswordMessage}]]
		<button type="button" class="close btn-sm" data-dismiss="alert"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="wrapper">

		<div class="content-wrapper">

			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card card-secondary">
								<div class="card-header">
									<div class="row">
										<div class="col-md-10">
											<h3 class="card-title" style="padding-top: 10px">Reset
												Password</h3>
										</div>
									</div>
								</div>
								<form method="post" th:action="@{/users/resetpassword}"
									th:object="${objEnt}" enctype="multipart/form-data">
									<div class="card-body">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group" id="oldPass">
													<label for="oldPassword">Old Password</label> <input
														onchange="validateOldPassword(this.value)" tabindex="3"
														type="password" required id="oldPassword"
														name="oldPassword" class="form-control"
														placeholder="Password" />
													<div class="input-group-append"
														style="float: right; margin-top: -38px; height: 38px;">
														<span class="input-group-text" style="cursor: pointer;"
															data-toggle="#oldPassword"><i
															class="fa fa-eye-slash" aria-hidden="true"></i></span>
													</div>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group" id="newPass">
													<label for="newPassword">New Password</label> <input
														th:field="*{encrytedPassword}" tabindex="3"
														type="password" required id="encrytedPassword"
														name="encrytedPassword" class="form-control"
														placeholder="Password" />
													<div class="input-group-append"
														style="float: right; margin-top: -38px; height: 38px;">
														<span class="input-group-text" style="cursor: pointer;"
															data-toggle="#encrytedPassword"><i
															class="fa fa-eye-slash" aria-hidden="true"></i></span>
													</div>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group" id="confirmPass">
													<label for="confirmPass">Confirm Password</label> <input
														th:field="*{confirmPassword}" tabindex="3" type="password"
														required id="confirmPassword" name="confirmPassword"
														class="form-control" placeholder="Password" />
													<div class="input-group-append"
														style="float: right; margin-top: -38px; height: 38px;">
														<span class="input-group-text" style="cursor: pointer;"
															data-toggle="#confirmPassword"><i
															class="fa fa-eye-slash" aria-hidden="true"></i></span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="card-footer">
										<button type="submit" id="resetPassBtn"
											class="btn btn-primary">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</div>

	<div th:replace="template :: jsscript"></div>
</body>
<script th:src="@{/webtemplate/plugins/select2/js/select2.full.min.js}"></script>
<script
	th:src="@{/webtemplate/multiselect/bootstrap-multiselect.min.js}"></script>
<script th:src="@{/webtemplate/multiselect/bootstrap-multi.js}"></script>
<script th:src="@{/webtemplate/multiselect/bootstrap-multiselect.js}"></script>
<script
	th:src="@{/webtemplate/multiselect/bootstrap-multiselect.min.js.js}"></script>
<script
	th:src="@{/webtemplate/plugins/jquery-validation/jquery.validate.min.js}"></script>
<script
	th:src="@{/webtemplate/plugins/jquery-validation/additional-methods.min.js}"></script>

<script th:src="@{/custom_js/resetPassword.js}"></script>

<script th:inline="javascript">
	if([[${message}]] == 'success'){
		Swal.fire({
			position: "top",
			icon: "success",
			title: 'Your Password has been reset please login with new password..!',
			showConfirmButton: true,
			timer: 5000,
		})
	}
	
	if([[${passwordExpired}]]){
		Swal.fire({
			position: "top",
			icon: "warning",
			title: passwordExpired,
			showConfirmButton: true,
			timer: 5000,
		})
	}
	
</script>

</html>