<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="template_multiStep :: headFragment(${pageTitle})">
</head>

<body class="hold-transition sidebar-mini layout-fixed">

	<div class="wrapper">

		<div th:replace="fragments/header :: header"></div>

		<div th:replace="fragments/sidebar :: aside"></div>

		<div class="content-wrapper">

			<div class="row">
				<div class="col-md-12">
					<form id="msform">
						<!-- progressbar -->
						<ul id="progressbar" style="text-align: center;">
							<li class="active">Personal Details</li>
							<li>Social Profiles</li>
							<li>Account Setup</li>
						</ul>
						<!-- fieldsets -->
						<section>
							<h2 class="fs-title">Create Load Balancer</h2>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="location">Choose DC Location</label> <select
											tabindex="1" id="location" required name="location"
											class="form-control select2" style="width: 100%;">
											<option value='-1'>Vashi</option>
											<option value='-1'>Thane</option>
											<option value='Anywhere-IPv4'>Bandra</option>
											<option value='-1'>Elphiston</option>
										</select>
									</div>

									<div class="form-group">
										<label for="type">Load Balancer Type</label> <select
											tabindex="1" id="type" required name="type"
											class="form-control select2" style="width: 100%;">
											<option value='-1'>Compare Load Balancer Types</option>
											<option value='-1'>Create Application Load Balancer</option>
											<option value='Anywhere-IPv4'>Create Network Load
												Balancer</option>
											<option value='-1'>Create Gateway Load Balancer</option>
											<option value='-1'>Create Classic Load Balancer</option>
										</select>
									</div>
								</div>
								<div class="col-md-12">
									<div class="card border-transparent">
										<div class="card-header">
											<h3 class="card-title"
												style="align-items: flex-start !important; flex-direction: column !important; display: flex;">
												<span class="card-title" style="font-weight: bold;">Load Balancer Name</span>
											</h3>
										</div>
										<div class="card-body">
											<div class="form-group">
												<input type="text" id="name" class="form-control"
													placeholder="Enter Cloud Instance Name" />
											</div>
										</div>
										<!-- /.card-body -->
									</div>
									<!-- /.card -->
								</div>
							</div>
							<input type="button" name="next" class="next action-button"
								value="Next" />
						</section>
						<section>
							<h2 class="fs-title">Social Profiles</h2>
							<h3 class="fs-subtitle">Your presence on the social network</h3>
							<input type="text" name="twitter" placeholder="Twitter" /> <input
								type="text" name="facebook" placeholder="Facebook" /> <input
								type="text" name="gplus" placeholder="Google Plus" /> <input
								type="button" name="previous"
								class="previous action-button-previous" value="Previous" /> <input
								type="button" name="next" class="next action-button"
								value="Next" />
						</section>
						<section>
							<h2 class="fs-title">Create your account</h2>
							<h3 class="fs-subtitle">Fill in your credentials</h3>
							<input type="text" name="email" placeholder="Email" /> <input
								type="password" name="pass" placeholder="Password" /> <input
								type="password" name="cpass" placeholder="Confirm Password" />
							<input type="button" name="previous"
								class="previous action-button-previous" value="Previous" /> <input
								type="submit" name="submit" class="submit action-button"
								value="Submit" />
						</section>
					</form>
				</div>
			</div>
			<!-- /.MultiStep Form -->
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</div>
	<div th:replace="template :: jsscript"></div>

	<script type="text/javascript">
		var current_fs, next_fs, previous_fs; //fieldsets
		var left, opacity, scale; //fieldset properties which we will animate
		var animating; //flag to prevent quick multi-click glitches

		$(".next").click(
				function() {
					if (animating)
						return false;
					animating = true;

					current_fs = $(this).parent();
					next_fs = $(this).parent().next();

					//activate next step on progressbar using the index of next_fs
					$("#progressbar li").eq($("section").index(next_fs))
							.addClass("active");

					//show the next fieldset
					next_fs.show();
					//hide the current fieldset with style
					current_fs.animate({
						opacity : 0
					}, {
						step : function(now, mx) {
							//as the opacity of current_fs reduces to 0 - stored in "now"
							//1. scale current_fs down to 80%
							scale = 1 - (1 - now) * 0.2;
							//2. bring next_fs from the right(50%)
							left = (now * 50) + "%";
							//3. increase opacity of next_fs to 1 as it moves in
							opacity = 1 - now;
							current_fs.css({
								'transform' : 'scale(' + scale + ')',
								'position' : 'absolute'
							});
							next_fs.css({
								'left' : left,
								'opacity' : opacity
							});
						},
						duration : 800,
						complete : function() {
							current_fs.hide();
							animating = false;
						},
						//this comes from the custom easing plugin
						easing : 'easeInOutBack'
					});
				});

		$(".previous").click(
				function() {
					if (animating)
						return false;
					animating = true;

					current_fs = $(this).parent();
					previous_fs = $(this).parent().prev();

					//de-activate current step on progressbar
					$("#progressbar li").eq($("section").index(current_fs))
							.removeClass("active");

					//show the previous fieldset
					previous_fs.show();
					//hide the current fieldset with style
					current_fs.animate({
						opacity : 0
					}, {
						step : function(now, mx) {
							//as the opacity of current_fs reduces to 0 - stored in "now"
							//1. scale previous_fs from 80% to 100%
							scale = 0.8 + (1 - now) * 0.2;
							//2. take current_fs to the right(50%) - from 0%
							left = ((1 - now) * 50) + "%";
							//3. increase opacity of previous_fs to 1 as it moves in
							opacity = 1 - now;
							current_fs.css({
								'left' : left
							});
							previous_fs.css({
								'transform' : 'scale(' + scale + ')',
								'opacity' : opacity
							});
						},
						duration : 800,
						complete : function() {
							current_fs.hide();
							animating = false;
						},
						//this comes from the custom easing plugin
						easing : 'easeInOutBack'
					});
				});

		$(".submit").click(function() {
			return false;
		})
	</script>
</body>
</html>