<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="template :: headFragment(${pageTitle})"></head>
<link rel="stylesheet"
	th:href="@{/webtemplate/plugins/select2/css/select2.min.css}">
<link rel="stylesheet"
	th:href="@{/webtemplate/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css}">
<link rel="stylesheet"
	th:href="@{/webtemplate/multiselect/bootstrap-multiselect.css}">

<style>
.academic-fields {
	display: none;
}
.permission-field {
	display: none;
}
</style>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<div th:replace="fragments/header_bk :: header"></div>
		<div th:replace="fragments/sidebar :: aside"></div>

		<div class="content-wrapper">
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Add User</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">Add User</li>
							</ol>
						</div>
					</div>
				</div>
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card card-secondary">
								<div class="card-header">
									<div class="row">
										<div class="col-md-10">
											<h3 class="card-title" style="padding-top: 10px">[[${pageTitle}]]</h3>
										</div>
										<div class="col-md-2">
											<a th:href="@{'/users/view/'}"
												class="btn btn-block bg-gradient-primary">View</a>
										</div>
									</div>
								</div>
								<form th:action="@{/users/save}" method="post"
									enctype="multipart/form-data" th:object="${objEnt}"
									onsubmit="return validateForm()">
									<input type="hidden" id="userId" th:field="*{appUser.userId}" />
									<div class="card-body">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label for="exampleInputEmail1">Name</label> <input
														tabindex="1" type="text" th:field="*{appUser.name}"
														placeholder="Name" required class="form-control" id="name" />
												</div>
												<div class="form-group" id="show_hide_password"
													th:if="${userID == null}">
													<label for="exampleInputPassword1">Password</label> <input
														tabindex="3" type="password"
														th:field="*{appUser.encrytedPassword}" required
														id="encrytedPassword" name="encrytedPassword"
														class="form-control" placeholder="Password" />
													<div class="input-group-append"
														style="float: right; margin-top: -38px; height: 38px;">
														<span class="input-group-text" style="cursor: pointer;"><i
															class="fa fa-eye-slash" aria-hidden="true"></i></span>
													</div>
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label for="exampleInputPassword1">Username</label> <input
														tabindex="2" type="text" id="userName"
														onchange="checkUsernameExist(this.value)"
														th:field="*{appUser.userName}" required name="userName"
														th:attr="disabled=${userID != null}" class="form-control"
														placeholder="Username" />
												</div>
												<div class="form-group" id="show_hide_confirmPassword"
													th:if="${userID == null}">
													<label for="exampleInputPassword1">Confirm Password</label>
													<input type="password"
														th:field="*{appUser.confirmPassword}" tabindex="4"
														required id="confirmPassword" name="confirmPassword"
														class="form-control" placeholder="Confirm Password" />
													<div class="input-group-append"
														style="float: right; margin-top: -38px; height: 38px;">
														<span class="input-group-text" style="cursor: pointer;"><i
															class="fa fa-eye-slash" aria-hidden="true"></i></span>
													</div>
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label for="exampleInputEmail1">Email address</label> <input
														onchange="checkDuplicateEmail(this.value)" tabindex="5"
														type="email" th:field="*{appUser.email}" required
														id="email" name="email" class="form-control"
														placeholder="Enter email" />
													<div class="alert alert-warning"
														th:if="${#fields.hasErrors('appUser.email')}"
														th:errors="*{appUser.email}"></div>
												</div>
												<div class="form-group">
													<label for="exampleInputEmail1">Role</label> <select
														onchange="roleChange(this.value)" tabindex="1"
														id="userRole" th:field="*{appRole.roleId}" required
														name="userRole" class="form-control" style="width: 100%;">
														<option value="1">Admin</option>
														<option value="2" selected>User</option>
														<option value="3">Super Admin</option>
														<option value="5">Hod</option>
														<option value="4">Teacher</option>
													</select>
												</div>

												<div class="form-group" style="display: none">
													<label for="exampleInputEmail1">Switch</label> <select
														tabindex="1" id="switch_id"
														th:field="*{appUser.switch_id}" required name="switch_id"
														class="form-control" style="width: 100%;">
														<option th:each="ob:${switchList}" th:value="${ob[0]}"
															th:text="${ob[1]}" />
													</select>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="mobileNo">Mobile No</label> <input tabindex="6"
														onchange="checkMobileNumber(this.value)" type="text"
														required pattern="[789][0-9]{9}"
														th:field="*{appUser.mobileNo}" id="mobileNo"
														name="mobileNo" class="form-control"
														placeholder="Enter Mobile Number"
														title="Please enter a 10-digit mobile number starting with 7, 8, or 9" />
												</div>
												<!-- Group Name Field - Always Multiple Select for All Roles -->
												<div class="form-group">
													<label for="exampleInputEmail1">Group name</label> <select
														id="groupName" th:field="*{appUser.groupName}" required
														name="groupName" class="form-control select2"
														multiple="multiple" style="width: 100%;">
														<option th:each="group : ${groupList}"
															th:value="${group[1]}" th:text="${group[1]}"></option>
													</select>
												</div>

												<div class="form-group" style="display: none">
													<label for="Generation">Generation</label> <select
														tabindex="1" id="generationType"
														th:field="*{appUser.generationType}" required
														name="generationType" class="form-control"
														data-placeholder="Select generation type"
														style="width: 100%;">
														<option value='1'>Generation 1</option>
														<option value='2'>Generation 2</option>
													</select>
												</div>
											</div>

											<!-- Template Name Field -->
											<div class="col-md-6">
												<div class="form-group">
													<label for="templateName">Sidebar Template</label> <select
														id="templateName" th:field="*{appUser.templateName}" required
														name="templateName" class="form-control select2"
														 style="width: 100%;">
														<option value="">-- Select Template --</option>
														<option th:each="template : ${templateList}"
															th:value="${template}" th:text="${template}"></option>
													</select>
													<small class="form-text text-muted">
														Select a sidebar template for this user
													</small>
												</div>
											</div>

											<!-- Permission Field -->
											<div class="col-md-6 permission-field" id="permissionField">
												<div class="form-group">
													<label>Permission</label>
													<div class="form-check">
														<input class="form-check-input" type="radio" 
															name="permissions" id="permissionRead" value="READ"
															th:field="*{appUser.permissions}">
														<label class="form-check-label" for="permissionRead">
															Read Only
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="radio" 
															name="permissions" id="permissionWrite" value="WRITE"
															th:field="*{appUser.permissions}">
														<label class="form-check-label" for="permissionWrite">
															Read & Write
														</label>
													</div>
												</div>
											</div>

											<!-- Academic Fields - Conditionally displayed -->
											<div class="col-md-12 academic-fields" id="academicFields">
												<h5>Academic Information</h5>
												<div class="row">
													<!-- Department dropdown -->
													<div class="col-md-6">
														<div class="form-group">
															<label>Department</label> <select id="departmentSelect"
																class="form-control" name="departmentId"
																th:field="*{appUser.departmentName}">
																<option value="">-- Select Department --</option>
																<option th:each="d : ${departments}"
																	th:value="${d.departmentId}"
																	th:text="${d.departmentName}"></option>
															</select>
														</div>
														<!-- Semester dropdown -->
														<div class="form-group">
															<label>Semester</label> <select id="semesterSelect"
																class="form-control" name="semesterId"
																th:field="*{appUser.semesterName}">
																<option value="">-- Select Semester --</option>
															</select>
														</div>
													</div>
													<div class="col-md-6">
														<!-- Course dropdown -->
														<div class="form-group">
															<label>Course</label> <select id="courseSelect"
																class="form-control" name="courseId"
																th:field="*{appUser.courseName}">
																<option value="">-- Select Course --</option>
															</select>
														</div>
														<div class="form-group">
															<label>Batch</label> <select id="batchSelect"
																class="form-control" name="batchId"
																th:field="*{appUser.batchName}">
																<option value="">-- Select Batch --</option>
															</select>
														</div>
													</div>
												</div>
											</div>

											<!-- Admin/HOD Fields -->
											<div class="col-md-12 academic-fields" id="adminHodFields">
												<h5>Administrative Information</h5>
												<div class="row">
													<!-- Department dropdown for Admin/HOD -->
													<div class="col-md-6">
														<div class="form-group">
															<label>Department</label> <select id="adminDepartmentSelect"
																class="form-control" name="adminDepartmentId">
																<option value="">-- Select Department --</option>
																<option th:each="d : ${departments}"
																	th:value="${d.departmentId}"
																	th:text="${d.departmentName}"></option>
															</select>
														</div>
													</div>
													<!-- Course dropdown for HOD only -->
													<div class="col-md-6" id="hodCourseField">
														<div class="form-group">
															<label>Course</label> <select id="hodCourseSelect"
																class="form-control" name="hodCourseId">
																<option value="">-- Select Course --</option>
															</select>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="card-footer" id="adduseridd">
										<button type="submit" id="adduserForm" class="btn btn-primary">Save</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</div>

	<div th:replace="template :: jsscript"></div>
</body>
<script th:src="@{/webtemplate/plugins/select2/js/select2.full.min.js}"></script>
<script
	th:src="@{/webtemplate/multiselect/bootstrap-multiselect.min.js}"></script>
<script
	th:src="@{/webtemplate/plugins/jquery-validation/jquery.validate.min.js}"></script>
<script
	th:src="@{/webtemplate/plugins/jquery-validation/additional-methods.min.js}"></script>
	
	<script th:src="@{/custom_js/user.js}"></script>

<script th:inline="javascript">
    // Store current values for initialization
    const selectedDepartmentId = [[${selectedDepartmentId != null ? selectedDepartmentId : 'null'}]];
    const selectedCourseId = [[${selectedCourseId != null ? selectedCourseId : 'null'}]];
    const selectedSemesterId = [[${selectedSemesterId != null ? selectedSemesterId : 'null'}]];
    const selectedBatchId = [[${selectedBatchId != null ? selectedBatchId : 'null'}]];

    $(function() {
        $('.select2').select2();
        
        // Initialize role-based field display
        const selectedRole = $('#userRole').val();
        toggleRoleBasedFields(selectedRole);
        initializeGroupSelect(selectedRole);
        
        var $groupName = $('#appUser\\.groupName');

		if (selectedRole == '1' || selectedRole == '3') { // Example condition for Admin and Super Admin
			$groupName.prop('multiple', true).addClass('select2');
			$groupName.select2({
				placeholder: "Select Group",
				allowClear: true
			});
		} else {
			$groupName.prop('multiple', false).removeClass('select2').select2('destroy');
		}
        
        // Initialize cascading dropdowns if editing and academic fields are visible
        if (selectedDepartmentId && $('#academicFields').is(':visible')) {
            loadCascadingDropdowns();
        }
        
        // Set selected values for group
        var selectedValues = [[${objEnt.appUser.groupName}]];
        var selectElement = document.getElementById('appUser.groupName');
        for (var i = 0; i < selectElement.options.length; i++) {
            var option = selectElement.options[i];
            if (selectedValues && selectedValues.includes(option.value)) {
                option.setAttribute('selected', 'selected');
            }
        }
        $('.select2').select2();
    });

    function roleChange(roleId) {
        toggleRoleBasedFields(roleId);
        initializeGroupSelect(roleId);
    }

    function toggleRoleBasedFields(roleId) {
        const academicFields = $('#academicFields');
        const adminHodFields = $('#adminHodFields');
        const permissionField = $('#permissionField');
        const hodCourseField = $('#hodCourseField');

        // Hide all fields first
        academicFields.hide();
        adminHodFields.hide();
        permissionField.hide();
        
        // Remove required attributes
        $('#departmentSelect').prop('required', false);
        $('#courseSelect').prop('required', false);
        $('#semesterSelect').prop('required', false);
        $('#batchSelect').prop('required', false);
        $('#adminDepartmentSelect').prop('required', false);
        $('#hodCourseSelect').prop('required', false);

        // Show fields based on role
        switch(roleId) {
            case '2': // User
                academicFields.show();
                $('#departmentSelect').prop('required', true);
                $('#courseSelect').prop('required', true);
                $('#semesterSelect').prop('required', true);
                $('#batchSelect').prop('required', true);
                break;
                
            case '1': // Admin
                adminHodFields.show();
                permissionField.show();
                $('#adminDepartmentSelect').prop('required', true);
                hodCourseField.hide(); // Hide course field for Admin
                break;
                
            case '5': // HOD
                adminHodFields.show();
                permissionField.show();
                $('#adminDepartmentSelect').prop('required', true);
                hodCourseField.show(); // Show course field for HOD
                $('#hodCourseSelect').prop('required', true);
                break;
                
            case '4': // Teacher
                permissionField.show();
                break;
                
            case '3': // Super Admin
                permissionField.show();
                break;
        }
    }

    function initializeGroupSelect(roleId) {
        var $groupName = $('#appUser\\.groupName');
        if (roleId == '1' || roleId == '3') { // Admin and Super Admin
            $groupName.prop('multiple', true).addClass('select2');
            $groupName.select2({
                placeholder: "Select Group",
                allowClear: true
            });
        } else {
            $groupName.prop('multiple', false).removeClass('select2').select2('destroy');
            // Reinitialize as single select
            $groupName.select2({
                placeholder: "Select Group",
                allowClear: true
            });
        }
    }

    // Load courses when admin/hod department changes
    $('#adminDepartmentSelect').change(function() {
        const deptId = $(this).val();
        if (!deptId) {
            $('#hodCourseSelect').html('<option value="">-- Select Course --</option>');
            return;
        }
        loadAdminCourses(deptId);
    });

    function loadAdminCourses(departmentId) {
        $.ajax({
            url: '/guac/courses',
            type: 'GET',
            data: { departmentId: departmentId },
            success: function(data) {
                const courseSelect = $('#hodCourseSelect');
                courseSelect.empty().append('<option value="">-- Select Course --</option>');
                data.forEach(c => {
                    courseSelect.append(`<option value="${c.courseId}">${c.courseName}</option>`);
                });
            },
            error: function(xhr, status, error) {
                console.error('Error fetching courses:', error);
            }
        });
    }

    function loadCascadingDropdowns() {
        const deptSel = $('#departmentSelect');
        const courseSel = $('#courseSelect');
        const semSel = $('#semesterSelect');
        const batchSel = $('#batchSelect');

        // If editing, automatically load the cascading dropdowns with current values
        if (selectedDepartmentId) {
            deptSel.val(selectedDepartmentId);
            loadCourses(selectedDepartmentId, function() {
                if (selectedCourseId) {
                    courseSel.val(selectedCourseId);
                    loadSemesters(selectedCourseId, function() {
                        if (selectedSemesterId) {
                            semSel.val(selectedSemesterId);
                            loadBatches(selectedSemesterId, function() {
                                if (selectedBatchId) {
                                    batchSel.val(selectedBatchId);
                                }
                            });
                        }
                    });
                }
            });
        }

        deptSel.change(function() {
            const deptId = $(this).val();
            if (!deptId) {
                courseSel.html('<option value="">-- Select Course --</option>');
                semSel.html('<option value="">-- Select Semester --</option>');
                batchSel.html('<option value="">-- Select Batch --</option>');
                return;
            }
            loadCourses(deptId);
        });

        courseSel.change(function() {
            const cId = $(this).val();
            if (!cId) {
                semSel.html('<option value="">-- Select Semester --</option>');
                batchSel.html('<option value="">-- Select Batch --</option>');
                return;
            }
            loadSemesters(cId);
        });

        semSel.change(function() {
            const sId = $(this).val();
            if (!sId) {
                batchSel.html('<option value="">-- Select Batch --</option>');
                return;
            }
            loadBatches(sId);
        });
    }

    function loadCourses(departmentId, callback) {
        $.ajax({
            url: '/guac/courses',
            type: 'GET',
            data: { departmentId: departmentId },
            success: function(data) {
                $('#courseSelect').empty().append('<option value="">-- Select Course --</option>');
                $('#semesterSelect').html('<option value="">-- Select Semester --</option>');
                $('#batchSelect').html('<option value="">-- Select Batch --</option>');
                data.forEach(c => {
                    $('#courseSelect').append(`<option value="${c.courseId}">${c.courseName}</option>`);
                });
                if (callback) callback();
            },
            error: function(xhr, status, error) {
                console.error('Error fetching courses:', error);
            }
        });
    }

    function loadSemesters(courseId, callback) {
        $.ajax({
            url: '/guac/semesters',
            type: 'GET',
            data: { courseId: courseId },
            success: function(data) {
                $('#semesterSelect').empty().append('<option value="">-- Select Semester --</option>');
                $('#batchSelect').html('<option value="">-- Select Batch --</option>');
                data.forEach(s => {
                    $('#semesterSelect').append(`<option value="${s.semesterId}">${s.semesterName}</option>`);
                });
                if (callback) callback();
            },
            error: function(xhr, status, error) {
                console.error('Error fetching semesters:', error);
            }
        });
    }

    function loadBatches(semesterId, callback) {
        $.ajax({
            url: '/guac/batches',
            type: 'GET',
            data: { semesterId: semesterId },
            success: function(data) {
                const batchSelect = $('#batchSelect');
                batchSelect.empty().append('<option value="">-- Select Batch --</option>');
                data.forEach(b => {
                    batchSelect.append(`<option value="${b.batchId}">${b.batchName}</option>`);
                });
                if (callback) callback();
            },
            error: function(xhr, status, error) {
                console.error('Error fetching batches:', error);
            }
        });
    }

    // Password show/hide functionality
    $(document).ready(function() {
        $("#show_hide_password span").on('click', function(event) {
            event.preventDefault();
            if($('#show_hide_password input').attr("type") == "text"){
                $('#show_hide_password input').attr('type', 'password');
                $('#show_hide_password i').addClass( "fa-eye-slash" );
                $('#show_hide_password i').removeClass( "fa-eye" );
            }else if($('#show_hide_password input').attr("type") == "password"){
                $('#show_hide_password input').attr('type', 'text');
                $('#show_hide_password i').removeClass( "fa-eye-slash" );
                $('#show_hide_password i').addClass( "fa-eye" );
            }
        });

        $("#show_hide_confirmPassword span").on('click', function(event) {
            event.preventDefault();
            if($('#show_hide_confirmPassword input').attr("type") == "text"){
                $('#show_hide_confirmPassword input').attr('type', 'password');
                $('#show_hide_confirmPassword i').addClass( "fa-eye-slash" );
                $('#show_hide_confirmPassword i').removeClass( "fa-eye" );
            }else if($('#show_hide_confirmPassword input').attr("type") == "password"){
                $('#show_hide_confirmPassword input').attr('type', 'text');
                $('#show_hide_confirmPassword i').removeClass( "fa-eye-slash" );
                $('#show_hide_confirmPassword i').addClass( "fa-eye" );
            }
        });
    });
</script>
</html>